body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
}

.carrusel {
    width: 80%;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 10px;
}

.slide {
    width: 100%;
    display: none;
    border-radius: 10px;
}

.slide.active {
    display: block;
}

.marquesina {
    background: #222;
    padding: 15px;
    font-size: 20px;
    color: #00ffcc;
}
